# /plugins/ISI_Toolkit_1_3_0/lib/
/plugins/ISI_Toolkit_1_3_0/lib/makestamp

# /plugins/ISI_Toolkit_1_3_0/lib/
/plugins/ISI_Toolkit_1_3_0/lib/*.a

# /plugins/libgcf2-2.3.2/
/plugins/libgcf2-2.3.2/configure
/plugins/libgcf2-2.3.2/config.log
/plugins/libgcf2-2.3.2/libgcf2-config.src
/plugins/libgcf2-2.3.2/Makefile
/plugins/libgcf2-2.3.2/config.status
/plugins/libgcf2-2.3.2/libtool
/plugins/libgcf2-2.3.2/src/config.h.in
/plugins/libgcf2-2.3.2/src/config.h.in~
/plugins/libgcf2-2.3.2/*.cache

# /plugins/libgcf2-2.3.2/examples/
/plugins/libgcf2-2.3.2/examples/g2net
/plugins/libgcf2-2.3.2/examples/g2block
/plugins/libgcf2-2.3.2/examples/g2time
/plugins/libgcf2-2.3.2/examples/g2serialp
/plugins/libgcf2-2.3.2/examples/g2serialcli
/plugins/libgcf2-2.3.2/examples/application
/plugins/libgcf2-2.3.2/examples/g2ints
/plugins/libgcf2-2.3.2/examples/g2file
/plugins/libgcf2-2.3.2/examples/.deps
/plugins/libgcf2-2.3.2/examples/Makefile
/plugins/libgcf2-2.3.2/examples/g2misc
/plugins/libgcf2-2.3.2/examples/g2cmos
/plugins/libgcf2-2.3.2/examples/g2serial
/plugins/libgcf2-2.3.2/examples/.libs
/plugins/libgcf2-2.3.2/examples/*.o

# /plugins/libgcf2-2.3.2/gcftool/
/plugins/libgcf2-2.3.2/gcftool/svn-prop.tmp
/plugins/libgcf2-2.3.2/gcftool/.deps
/plugins/libgcf2-2.3.2/gcftool/gcftool
/plugins/libgcf2-2.3.2/gcftool/Makefile
/plugins/libgcf2-2.3.2/gcftool/*.o

# /plugins/libgcf2-2.3.2/src/
/plugins/libgcf2-2.3.2/src/config.h
/plugins/libgcf2-2.3.2/src/.deps
/plugins/libgcf2-2.3.2/src/Makefile
/plugins/libgcf2-2.3.2/src/gcf2.h
/plugins/libgcf2-2.3.2/src/stamp-h1
/plugins/libgcf2-2.3.2/src/*.a
/plugins/libgcf2-2.3.2/src/*.la
/plugins/libgcf2-2.3.2/src/.libs
/plugins/libgcf2-2.3.2/src/*.lo
/plugins/libgcf2-2.3.2/src/*.o

# /plugins/reftek_libs/reftek/
/plugins/reftek_libs/reftek/*.a
/plugins/reftek_libs/reftek/*.o

# /plugins/reftek_libs/rtp/
/plugins/reftek_libs/rtp/*.a
/plugins/reftek_libs/rtp/*.o

# /plugins/reftek_libs/util/
/plugins/reftek_libs/util/*.a
/plugins/reftek_libs/util/*.o
